body,
html {
  font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  width: 100%;
  background-color: #5FFBF1;
  text-align: left;
  font-size: 20px;
  line-height: 1.7;
  margin: 0px;
}

h1 {
  float: inline-start;
  text-align: center;
  color: #755bb4;
  font-size: 50px;
}

#signUp {
    background-color: #D16BA5;
    position: absolute;
    top: 50px;
    right: 350px;
    float: left;
    width: 450px;
    height: 430px;
    border-radius: 25px;
    padding: 17px;
    color: #755bb4;
}
input{
    background-color:rgb(241, 234, 234);
    top: 130px;
    right: 360px;
    width: 430px;
    height: 30px;
    border-radius: 6px;
    border: solid 1px #5FFBF1;
    font-size: 19px;
    color: #755bb4;
    margin-top: 20px;
}

.button {
  background-color: rgb(241, 234, 234);
  border-radius: 9px;
  border: solid 2px #5FFBF1;
  color: #5FFBF1;
  width: 433px;
  height: 70px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Segoe UI";
  margin-top: 30px;
}

.button:hover {
  cursor: pointer;
  }
    
a{
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: #D16BA5;
}